*{
    user-select: none;
}
.header {
    margin-top: 20px;
    padding-top: 10px;
    color:#23468a;
    background-color: transparent;
    margin: auto -16px;
    padding: 10px 10px;
    font-size:xx-large;
    text-shadow: 2px 2px 2px #9b9a9a;
}
 @media (max-width: 576px) {
    .header{
    margin-top: 15px;
    font-size:medium;
    }
 }

