* {
    user-select: none;

}

body {
    font-family: 'DM Sans', sans-serif;
    background-color: #ffffff;
background-image: url("https://www.transparenttextures.com/patterns/blizzard.png");
}


.header {
    padding-top: 10px;
    color: #23468a;
    background-color: transparent;
    margin: auto -16px;
    padding: 10px 10px;
    font-size: xx-large;
    text-align: center;
    text-shadow: 2px 2px 2px #cbcaca;
}
.header1 {
    color: #23468a;
    font-size: x-small;
}

@media (max-width: 576px) {
    .header {
        margin-top: 15px;
        font-size: LARGE;
    }

    .aboutcont {
        font-size: medium;
    }
}

.about {
    margin-left: 10PX;
    text-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aboutcont {
    max-width: 600px;
    min-width: 300px;
    padding: 20px;
    text-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
}